@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --font01: "Josefin Sans", sans-serif;
  --font02: "Finlandica", sans-serif;

  --cor1: #1f5f74; /*Cor Titulo*/
  --cor2: #103D64; /*Cor Textos*/

  /* Roupas de Nossa Senhora das Graças */
  --tunica-branca: #ffffff;
  --manto-azul-celeste: #87ceeb;
  --manto-azul-claro: #add8e6;
  --cinto-azul: #4682b4;

  /* Véu */
  --veu-branco: #f8f8ff;

  /* Elementos dourados */
  --dourado: #ffd700;

  /* Raios de luz */
  --raio-luz-claro: #fffacd;
  --raio-luz-luminoso: #ffffe0;

  /* Serpente (representação do mal) */
  --serpente-preta: #2f4f4f;

  /* Globo terrestre */
  --globo-verde: #228b22;
  --globo-azul-oceano: #1e90ff;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    color: #3B9AE1;
}

div#img11 {
  background-image: url('../img/Inserir\ um\ subtítulo.png');
  background-size: cover;         /* Cobre toda a área */
  background-position: center;    /* Centraliza a imagem */
  background-repeat: no-repeat;   /* Evita repetição */
  height: 100vh;                  /* Altura da tela inteira */
  width: 100%;
}

#alerta-tela {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.95);
      color: #fff;
      font-family: Arial, sans-serif;
      font-size: 1.5rem;
      text-align: center;
      padding: 2rem;
      box-sizing: border-box;
      z-index: 9999;
      justify-content: center;
      align-items: center;
    }


     body {
      font-family: Arial, sans-serif;
      color: white;
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 20px;
      background-color: white;
      position: relative;
      z-index: 10;
    }

    .logo img {
      
      width: 47px;
    }

    .hamburger {
      width: 30px;
      height: 22px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      z-index: 11;
    }

    .bar {
      height: 4px;
      background-color: #3B9AE1;
      border-radius: 2px;
      transition: all 0.3s ease;
    }

    /* Animação do X */
    .hamburger.active .bar:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }

    .hamburger.active .bar:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -6px);
    }

    .menu {
      position: fixed;
      top: 1;
      right: -100%;
      width: 250px;
      height: 100vh;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 60px;
      transition: right 0.4s ease;
    }

    .menu.active {
      right: 0;
    }

    .menu a {
      color: #3B9AE1;
      text-decoration: none;
      font-size: 1.5rem;
      margin: 25px 0;
      transition: 0.3s;
    }

    .menu a:hover {
      color: white;
    }

    div#secorig {
      padding-top: 40px;
      height: 100vh;
      background-color: #F0EAE3;
    }

    div#secorig img {
      width: 100%;
    }

    div#secorig h1 {
      padding: 25px;
      color: #A57A1F;
      font-size: 1.7rem;
      font-family: var(--font01);
      text-align: center;
    }

    div#secorig p {
      padding: 20px;
      font-family: var(--font02);
      font-size: 1.1rem;
      color: var(--cor2);
    }

    span.negrito {
      color: #182847;
      font-weight: bold;
    }

    div#traco {
      background-color: #A57A1F;
      padding: 7px;
    }
div#sobrecat {
  height: 100vh;
  
}

.container {
  display: flex;
  margin-top: 60px;
  align-items: center; /* alinha verticalmente */
  gap: 10px; /* espaçamento entre imagem e texto */
}

.container img {
  width: 180px; /* ajuste o tamanho da imagem */
  height: auto;
}

.container p {
  padding: 0px 10px 0px 0px;
  font-family: var(--font02);
  color: var(--cor2);
  text-align: justify;
}

div#sobrecat h1{
  padding: 25px;
  color: #A57A1F;
  font-size: 1.7rem;
  font-family: var(--font01);
  text-align: center;
}

div#trib {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #182847;
  height: 100vh;
  padding: 20px;
}

div#trib h1 {
  padding-bottom: 50px;
  color: #E8A64C;
  font-family: var(--font01);
  font-size: 1.7rem;
  text-align: center;
}

div#trib p {
  padding-bottom: 20px;
  font-family: var(--font02);
}

div#transf {
  background: linear-gradient(to bottom, #182847 38%, white 220%);
  height: 130vh;
  padding: 20px;
}

div#transf h1 {
  padding: 10px;
  color: #E8A64C;
  font-family: var(--font01);
  font-size: 1.7rem;
  text-align: center;
  padding-bottom: 50px;
}

div#transf p {
  color: white;
  font-family: var(--font02);
  padding-bottom: 20px;
}

span.negrito2 {
  color: #E8A64C;
  font-weight: bold;
}

div#signmdl h1 {
  padding: 30px  0px 45px 15px;
  font-family: var(--font01);
  font-size: 1.7rem;
  color: var(--cor1);
}

div#signmdl {
  display: flex;
  align-items: center;
  flex-direction: column;
}

div#signmdl p {
  padding: 10px;
  font-size: 1.1rem;
  font-family: var(--font02);
  color: var(--cor2);
}

div#ptdtrs {
  display: flex;
  align-items: center;
  flex-direction: column;
}

div#ptdtrs h1 {
  padding: 50px  0px 10px 15px;
  font-family: var(--font01);
  font-size: 1.7rem;
  color: var(--cor1);
}

div#ptdtrs p {
  padding: 10px;
  font-size: 1.1rem;
  font-family: var(--font02);
  color: var(--cor2);
}

div#traco21 {
      background-color: var(--cor1);
      margin-top: 50px;
      padding: 7px;
    }

div#propst {
  height: 100vh;
}

div#propst h1{
  padding: 50px  0px 10px 15px;
  font-family: var(--font01);
  font-size: 1.7rem;
  color: var(--cor1);
}

div#propst p {
  padding: 10px;
  font-size: 1.1rem;
  font-family: var(--font02);
  color: var(--cor2);
}

div#img12 {
  background-image: url('../img/Dia\ De\ Nossa\ Senhora\ Das\ Graças\ 27\ De\ Novembro\ Criativo\ Azul\ E\ Branco\ Story\ Do\ Instagram\ .png');
  background-size: cover;         /* Cobre toda a área */
  background-position: center;    /* Centraliza a imagem */
  background-repeat: no-repeat;   /* Evita repetição */
  height: 100vh;                  /* Altura da tela inteira */
  width: 100%;
}

.footer {
    background: #012b62; /* cor de fundo */
    color: #fff;      /* cor do texto */
    text-align: center;
    padding: 15px 10px;
    font-size: 14px;
  }

  .footer a {
    color: #3B9AE1; /* link azul */
    text-decoration: none;
    font-weight: bold;
  }

  .footer a:hover {
    text-decoration: underline;
  }